---
import Page from '../layouts/Page.astro';
---

<Page title="Got lost?" description="Error page for Joe's personal website">
  <section>
    <h1>Got lost?</h1>

    <p>
      If you’re on this page, something’s probably gone wrong. Try going to
      my <a href="/">homepage</a> instead.
    </p>
  </section>
</Page>
