---
import Page from '../layouts/Page.astro';
---

<Page title="Joe's housewarming" description="Details for Joe's housewarming, July 2024">
	<section>
		<h1>Joe's housewarming</h1>

		<p>
			I, Joe Carstairs, hereby promise to keep this webpage updated with
			accurate information.
		</p>

		<dl>
			<dt>when</dt>
			<dd>2pm-6pm Sunday 21 July 2024</dd>

		<dt>where</dt>
			<dd>57 Manor Place, EH3 7EG</dd>

		<dt>what to wear</dt>
			<dd>whatever you like (as long as it's decent)</dd>

		<dt>what to bring</dt>
			<dd>
				good food and/or good drink and/or good chat and/or good tunes
				and/or just your good self
			</dd>
		</dl>
	</section>
</Page>

