# The hostname to use for the local SMTP server
LOCAL_SMTP_HOST=

# The port to use for the local SMTP server
LOCAL_SMTP_PORT=

# The username for authenticating to the local SMTP server
# Recommended to be the same as REMOTE_SMTP_USER, else the remote may reject it
LOCAL_SMTP_USER=

# The password for authenticating to the local SMTP server
LOCAL_SMTP_PASSWORD=

# The envelope-from used by the local SMTP server
# Theoretically should be "LOCAL_SMTP_FROM_NAME <LOCAL_SMTP_FROM>", but in
# practice this seems to cause bugs, while setting it to LOCAL_SMTP_FROM works
LOCAL_SMTP_ENVELOPE_FROM=

# The from address used by the local SMTP server
# Recommended to be the same as REMOTE_SMTP_USER, else the remote may reject it
LOCAL_SMTP_FROM=

# The from name used by the local SMTP server
LOCAL_SMTP_FROM_NAME=

# The host of the remote SMTP server, e.g. smtp.gmail.com
REMOTE_SMTP_HOST=

# The port of the remote SMTP server: usually 25, 465, or 587
REMOTE_SMTP_PORT=

# The username for authenticating to the remote SMTP server
# Usually the email address which will be sending the contact emails
REMOTE_SMTP_USER=

# The email address where contact emails will be sent
CONTACT_MAILBOX=

# The name to associate with the contact mailbox
CONTACT_MAILBOX_NAME=

# When this 24-hour limit is reached, the website will no longer
# send emails to the contact mailbox
MAX_DAILY_EMAILS=

# The scheme part of the URI to the website database
DB_SCHEME=

# The path part of the URI to the website database
DB_PATH=
