.u-photo {
  margin-inline: auto;
  margin-block-end: 3rem;
}

@media (min-width: 48rem) {
  .h-card {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .u-photo {
    margin: 0;
  }
}

.u-photo {
  width: 256px;
}

