---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import BlogFeed from '../../components/BlogFeed.astro';
import Navbar from '../../components/Navbar.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Navbar />
		<main>
			<BlogFeed headingLevel={1} />
		</main>
	</body>
</html>
