---
---

<section class="h-card">
    <div>
        <img class="u-photo" src="/images/headshot.webp" height="96" width="96" />
    </div>

    <header>
        <h1>
            Joe Carstairs
        </h1>

        <div hidden>
            <a class="p-name u-url u-uid" href="https://joeac.net" rel="me">
                Permalink
            </a>
        </div>
    </header>

    <div class="h-card__text">
        <p>
            Hi! 👋 My name is <span class="p-given-name">Joe</span>
            <span class="p-family-name">Carstairs</span>. I’m a
            <span class="p-job-title">software developer</span> at
            <a class="p-org" href="https://www.scottlogic.com">Scott Logic</a>, a
            graduate of Philosophy and Mathematics at the University of Edinburgh,
            a committed Christian and a pretty rubbish poet.
        </p>

        <p>
            I’m also the <span class="p-job-title">secretary</span> of the
            <a class="p-org" href="https://scotsleidassocie.org">Scots Language Society</a>.
            <a href="https://github.com/joeacarstairs/lallans-wabsteid-astro">Help me maintain our website!</a>
        </p>

        <p>
            HMU with your thoughts on philosophy of science, Scots verse and
            John the Evangelist.
        </p>

        <p>
            <small>
                Or get me on
                <a href="https://www.facebook.com/joe.carstairs.5" rel="me">Facebook</a>,
                <a href="https://mastodon.social/@joe_carstairs" rel="me">Mastodon</a>,
                <a href="https://www.linkedin.com/in/joe-carstairs-0aa936277" rel="me">LinkedIn</a>,
                or <a href="https://github.com/joeacarstairs" rel="me">GitHub</a>.
            </small>
        </p>
    </div>
</section>
